<html layout:decorate="~{/layout/adminLayout}">

<div layout:fragment="content">
	
	<h2>리뷰내역</h2>
	<div class="card mb-4">
		<div class="card-header">
			<i class="fas fa-table me-1"></i>
				리뷰리스트
			</div>
			<div class="card-body">
				<table id="datatablesSimple">
					<thead>
						<tr>
			                <th scope="col">리뷰번호</th>
			                <th scope="col">브랜드</th>
			                <th scope="col">상품명</th>
			                <th scope="col">평점</th>
			                <th scope="col">리뷰내용</th>
			                <th scope="col">작성자</th>
			                <th scope="col">작성일</th>
						</tr>
					</thead>
					<tbody >
						<tr th:each="list : ${re}" >
			                <td th:text="${list.reviewId}"></td>
			                <td th:text="${list.product.brand.brandName}"></td>
							<td th:text="${list.product.name}"></td>
			                <td th:text="${list.rating}"></td>
			                <td th:text="${#strings.abbreviate(list.content, 40)}"></td>
			                <td th:text="${list.writer.userName}"></td>
			                <td th:text="${#temporals.format(list.createDate, 'yyyy-MM-dd HH:mm')}"></td>
		            	</tr>
					</tbody>
				</table>
			</div>
		</div>
<button id="filterBadBtn" class="btn btn-danger">비속어 필터</button>

</div>

<script layout:fragment="script" type="text/javascript">
    // datatablesSimple 초기화
    let datatable = new simpleDatatables.DataTable("#datatablesSimple");

    document.getElementById("filterBadBtn").addEventListener("click", function () {
        fetch("/admin/reviews/badwords")
            .then(res => res.json())
            .then(data => {
				console.log(data);
                // 기존 테이블 데이터 비우기
                datatable.rows().remove();

                // 새 데이터 추가
                data.forEach(re => {
                    datatable.rows().add([
                        re.reviewId,
                        re.product.brand.brandName,
                        re.product.name,
                        re.rating,
                        re.content,
                        re.writer.userName,
                        re.createDate
                    ]);
                });
            });
    });
</script>
</html>