<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ex.final22c.repository.perfumeMapper.PerfumeMapper">

  <select id="search" parameterType="map"
          resultType="com.ex.final22c.data.perfume.Perfume">
    SELECT *
    FROM perfume
    WHERE 1=1
    <if test="q != null and q != ''">
      AND (perfumeName LIKE CONCAT('%', #{q}, '%')
           OR brand LIKE CONCAT('%', #{q}, '%'))
    </if>

    <if test="grades != null and grades.size() > 0">
      AND grade IN
      <foreach collection="grades" item="g" open="(" separator="," close=")">
        #{g}
      </foreach>
    </if>

    <if test="accords != null and accords.size() > 0">
      AND mainnote IN
      <foreach collection="accords" item="a" open="(" separator="," close=")">
        #{a}
      </foreach>
    </if>
  </select>

</mapper>
