<html layout:decorate="~{layout/layout}">
    <div layout:fragment="content">
        <!-- 좌측 사이드 바 -->
        <div>
            <ul>
                <li>
                    
                </li>
            </ul>
            <ul>
                <li>
                    <input type="checkbox" id="아쿠아 디 파르마">
                    <label for="아쿠아 디 파르마">
                        <span>아쿠아 디 파르마</span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</html>